* {
  margin: 0;
  padding: 0;
}
.container {
  min-height: 100vh;
  background-color: rgb(217, 217, 244);
}

.bibliotheque {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin: auto;
  width: 800px;
  margin-top: 10px;
}

.livre {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 0px;
  background-color: antiquewhite;
  text-align: center;
  padding: 10px;
}

.livre img {
  width: 100px;
}

.livre h1 {
  font-size: 13px;
  height: 55px;
}

.livre h2 {
  font-size: 10px;
}

.livre button {
  background-color: darkblue;
  color: white;
  width: 90%;
  border: none;
  padding: 5px;
  cursor: pointer;
  margin-top: 5px;
}

.livre button:hover {
  opacity: 0.75;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;
}

.header {
  background-color: cyan;
  position: sticky;
  top: 0;
  padding: 10px;
}

@media only screen and (max-width:750px) {
  .bibliotheque {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width:550px) {
  .bibliotheque {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width:400px) {
  .bibliotheque {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
